<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- THREEJS -->
    <script type="text/javascript" src="javascripts/lib/three.js"></script>
    <script type="text/javascript" src="javascripts/lib/objloader.js"></script>

    <!-- MAIN -->
    <script type="text/javascript" src="javascripts/dev/main.js"></script>
  </body>
</html>
